.vscode/**
.vscode-test/**
src/**
!src/assets/
!src/assets/icons/
!src/assets/icons/**
tests/**
.agents/**
node_modules/**
**/*.ts
**/*.tsx
**/*.map
**/*.test.ts
!src/assets/icons/**/*.svg
tsconfig*.json
vite.config.ts
vitest.config.ts
eslint.config.js
.gitignore
.git/**
*.vsix
.cursor/**
